
body {
	background-color: rgba(0, 188, 252, 0.23);
	color: #000305;
    margin-left: 0;
    margin-right: 0;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
    min-width:765px;
}

.wrapper {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a,
a:link,
a:active,
a:visited,
a:hover {
    color: #fff;
    text-decoration: none;
}

li {
    padding: 3px;
    margin: 5px 0;
    background-color: #555;
    color: #fff;
}

li:hover {
    background-color: #888;
}

.submenu {
    display: none;
    padding-left: 20px;
}

.mainHeader {
    background-image: url('http://ninjaslair.com/cit230/SalmonRiverAdventures/images/header-salmonriveradventures.jpg');
    background-position: top left;
    background-repeat: no-repeat;
/*    background-attachment: fixed;*/
    height: 150px;
}

.body {
    display: flex;
	margin: 15px auto;
	width: 90%;
	clear: both;
}

.topContent {
    float: left;
	border-radius: 7px;
}
.top-image {
	width: auto;
	height: auto;
	margin: 0;
}

.logo {
    width: 121px;
    height: auto;
    margin: 0;
    justify-content: flex-start;
}

.section-wrapper {
    height: 500px;
    position: relative;
}

.section-left,
.section-center {
    float:left;
}

.section-right {
    float:right;
}

.section-left,
.section-right {
    width: 160px;
}

.section-center {
    margin: 0 160px;
    padding: 0 20px;
    position: absolute;
    left: 0;
}

.ref-prices,
.ref-reservations,
.ref-shortTrip,
.ref-dayTrip,
.ref-overnight {
    display: none;
}

/* FOOTER */

.page-footer ul a {
    display:flex;
    flex-direction: column;

}
.page-footer ul a {
    text-decoration: none;
}
.footer-distributed {
	background-color: #999;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    position: relative;
    display: flex;
	padding: 20px 30px;
	margin-top: 50px;
    min-height: 178px;
}

.footer-left,
.footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-left {
	width: 33%;
    float: column, space-between;
}

/* The company logo */

.footer-distributed h3 {
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span {
	color:  #5383d3;
}

/* Footer links */

.footer-links {
	color:  #ffffff;
	margin: 0;
	padding: 0;
}

.footer-links a {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-company-name {
	color:  #555;
	font-size: 11px;
	font-weight: normal;
	margin: 15px 0 0 0;
    display: inline-block;
}

/* Footer Center */

.footer-right {
	width: 33%;
}

.footer-right i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 21px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    margin: 10px;
    vertical-align: middle;
}

.footer-right i.fa-envelope {
	font-size: 17px;
}

.footer-right p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-right p span {
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-right p a {
	color:  white;
	text-decoration: none;
}


/* Footer Right */

.footer-right {
	width: 40%;
    position: absolute;
    right: 0;
    top: 3px;
}

.footer-company-about {
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-company-about span {
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons {
	margin-top: 25px;
}

.footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-link {
    font-size: 13px;
    padding-bottom: 6px;
}

.footer-social-link {
    float: left;
    display: inline-block;
    padding-right: 25px;
    font-size: 24px;
}

.footer-social-header {
    color: #555;
    font-size: 16px;
    margin: 10px 0;
}

.dropdownMenu .submenu {
    display: none;
}

.dropdownMenu.is-active .submenu {
    display: block;
}

